= form_with(model: @image) do |form|
  - if @image.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(@image.errors.count, "error")
        prohibited this @image from being saved:
      %ul
        - @image.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :url, style: "display: block"
    = form.text_field :url
    %br/
    = form.label :regex, style: "display: block"
    = form.text_field :regex
  %br/
  %div
    = form.submit
%br/
= link_to "Images", images_path
